<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Distribution Centres</title>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <h1>Distribution Centres</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Available Items</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="centre : ${distributionCentres}">
                <td th:text="${centre.id}"></td>
                <td th:text="${centre.name}"></td>
                <td th:text="${centre.latitude}"></td>
                <td th:text="${centre.longitude}"></td>
                <td>
                    <ul>
                        <li th:each="item : ${centre.itemsAvailable}" th:text="${item.name}"></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
