<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}" />
</head>

<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <div class="hero-section">
            <h1>Registration</h1>
        </div>
        <div th:if="${error}" class="alert alert-danger">
            <span th:text="${error}"></span>
        </div>


        <form method="POST" th:action="@{/registration}" id="registrationForm" class="card">
            <div class="form-group">
                <p>Already have an account? Click
                    <a th:href="@{/login}">here</a> to login.
                </p>
            </div>
            
            <div class="form-group">
                <label for="fullName">Full Name: </label>
                <input type="text" name="fullName" id="fullName" th:value="${user?.fullName}" required />
            </div>

            <div class="form-group">
                <label for="username">Username: </label>
                <input type="text" name="username" id="username" th:value="${user?.username}" required />
            </div>

            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" required minlength="6" />
                <small class="error-message" style="display: block; color: var(--text-light); font-size: 14px;">Password
                    must be at least 6 characters</small>
            </div>

            <div class="form-group">
                <label for="role">Role: </label>
                <select name="role" id="role" th:value="${user?.role}">
                    <option value="USER">Regular User</option>
                    <option value="WAREHOUSE_EMPLOYEE">Warehouse Employee</option>
                    <option value="ADMIN">Admin</option>
                </select>
            </div>

            <div class="form-group" style="text-align: center;">
                <input type="submit" value="Register" class="btn" />
            </div>
        </form>
    </div>
</body>

</html>